body {
  background-color: #699bf7;
}
header {
  background-color: aliceblue;
}
nav {
  background-color: aliceblue;
}
ul li {
  display: inline;
  text-decoration: none;
  padding: 10px;
  
}
a {
  text-decoration: none;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.bigbold{
    text-align: left;
   font-size: 50px;
   font-family: 'Nunito', sans-serif;
   font-family: 'Poppins', sans-serif;
}
.smallbold{
    font-weight: lighter;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.vierkant3 {
    position: absolute;
 margin-bottom: 500px;
 margin-left: 150px;
  width: 100px;
  height: 40px;
  background-color: #000000;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}
.vierkant1 {
    position: absolute;
    margin-left: 800px;
    margin-top: 100px;
  width: 250px;
  height: 400px;
  background-color: #ffc600;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}
.vierkant2 {
    position: relative;
    margin-left: 990px;
    margin-top: 50px;
  width: 250px;
  height: 400px;
  background-color: white;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}