/* drie basisstijlregels om je te helpen */
:root {
  font-size: 100%; /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hier komt jouw css */
header {
  background-color: #f2f2f2;
  padding: 100px;
}
.parent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
article {
  display: flex;
  justify-content: space-around;
}
article div {
  width: 285px;
}
main {
  background-color: #2d2f3b;
  color: #7a7f97;
  padding: 100px;
}
i {
  background-color: #f2f2f2;
  border-radius: 50%;
  border: 1px solid grey;
  padding: 10px;
}
i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;
}
i.fa img {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;
  height: 100px;
  width: auto;
}
.intro h2 {
  color: #2d2f3b;
  font-weight: bold;
}
.intro p {
  color: #7a7f97;
}

.section1 h3 {
  color: #2d2f3b;
  font-weight: bold;
}
.section1 p {
  color: #7a7f97;
}
/*
.parent {
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-gap: 20px;
  justify-self: center;
}
*/

.parent2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 5, max-content;
  grid-gap: 20px;
  justify-content: center;
}
section div img {
  width: 200px;
  height: 200px;
  transition: width 2s;
}
main section div img:hover {
  width: 250px;
}
article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
article div {
  width: 285px;
}
