/* drie basisstijlregels om je te helpen */
:root {
  font-size: 100%; /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hier komt jouw css */
nav {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}
nav li {
  display: inline;
  padding: 20px;
  color: white;
  font-family: Montseratt;
  font-size: 80%;
}
nav :hover {
  color: rgba(153, 134, 117, 255);
}
.font {
  font-family: Raleway;
  font-size: 200%;
}
.img1 {
  size: 80%;
}
@font-face {
  font-family: Raleway;
  src: url(fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: Raleway2;
  src: url(fonts/Raleway/Raleway-Medium.ttf);
}
@font-face {
  font-family: Raleway3;
  src: url(fonts/Raleway/Raleway-ExtraBold.ttf);
}
@font-face {
  font-family: Raleway4;
  src: url(fonts/Raleway/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: Montseratt;
  src: url(fonts/Montserrat/Montserrat-Light.ttf);
}
header {
  background-image: url(images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
header article {
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;
  gap: 20px;
  color: white;
}
header article h1 {
  font-size: 36px;
  font-family: Raleway2;
}
header article h2 {
  font-size: 56px;
  font-family: Raleway3;
}
header article p {
  font-size: 16px;
  margin-top: 15px;
  font-family: Montseratt;
}
header article button {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: Raleway3;
}
header article button {
  background-color: rgba(153, 134, 117, 255);
  color: white;
  border-radius: 2px;
  border-style: none;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
button:hover {
  background-color: chocolate;
}
main article {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
main article h5 {
  font-family: Raleway;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}
main article p {
  font-family: Montseratt;
  font-size: 14px;
}
main article:hover {
  color: rgba(153, 134, 117, 255);
}
.parent {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: (5, max-content);
  grid-gap: 10px;
}
.arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
